 @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


    /*********************** NAV-BAR  ************************/
.NavBar{
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    color: #f06cec;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-decoration: none;
    /* color: #f06cec; */
}
.logo{
    height: 112px;
    width: 200px;
    position: absolute;
    top: 5px;
    left: 25px;
}
.home{
    color: rgb(235, 71, 71);
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 1s;
    font-size: 20px;
    border-radius: 15px;
    text-decoration: none;
}
.home:hover{
    background-color: rgb(235, 71, 71);
    color: whitesmoke;
}
.OurE{
    color: rgb(235, 71, 71);
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 1s;
    border-radius: 15px;
    text-decoration: none;
}
.OurE:hover{
    background-color: rgb(235, 71, 71);
    color: whitesmoke;
    
}
.Games{
    color: rgb(235, 71, 71);
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 1s;
    border-radius: 15px;
    text-decoration: none;
}
.Games:hover:hover{
    background-color: rgb(235, 71, 71);
    color: whitesmoke;
}
.AboutUs{
    font-size: 20px;
    color: rgb(235, 71, 71);
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 1s;
    border-radius: 15px;

}
.AboutUs:hover{
    background-color: rgb(235, 71, 71);
    color: whitesmoke;
}
 


             /*********************** ROW -2 ************************/
.Row-1{
    height: 80vh;
    display: flex;
}
.Heading{
    height: 70vh;
    width: 50vh;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
}
h1{
    height: 200px;
    width: 660px;
    font-size: 70px;
    padding-left: 120px;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: rgb(235, 71, 71);
}
a:hover{
    color: whitesmoke;
}
p{
    height: 170px;
    width: 450px;
    margin-left: 130px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.Img1{
    height: 90vh;
    position: absolute;
    right: 15px;
}


             /*********************** ROW - 3 ************************/
.Row-3{
    height: 52vh;
    background-color: #7bf8f8;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.VideoBox{
    padding-top: 40px;
    position: absolute;
    left:130px ;
    border-radius: 15px;
    height: 318px;
    width: 500px; 
}
.Heading-2{
    position:absolute;
    right: 20px;
    padding-top: 60px;
    font-family: 'Protest Revolution', sans-serif;
}



 /*********************** ROW - 4 ************************/

 .Title-1{
    padding-top: 20px;
    font-size: 60px;
    font-family: 'Protest Riot', sans-serif;
    text-align: center;
 }
 p{
    padding: 0%;

 }
 .Row-4{
    height: 50vh;
     background-color: antiquewhite; 
    padding-top: 50px;
 }
.FirstLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .Icon1{
    height: 70px;
    width: 70px;
    margin-left: 120px ;
 }
 .Icon2{
    height: 70px;
    width: 70px;
    margin-left: 100px;
 }
 .Icon3{
    height: 70px;
    width: 70px;
    margin-left: 140px;
 }
 #One{ 
    margin-left: 118px;
}
#Two{
    margin-left: 55px;
}
#Three{
    margin-left: 100px;
}

 .SecondLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .Icon4{
    height: 70px;
    width: 70px;
    margin-left: 120px ;
 }
 .Icon5{
    height: 70px;
    width: 70px;
    margin-left: 100px;
 }
 .Icon6{
    height: 70px;
    width: 70px;
    margin-left: 140px;
 }
 #Four{
    margin-left: 100px;
}
#Five{
    margin-left: 80px;
}
#Six{
    margin-left: 130px;
}

/**************************** Footer **************************/
.footer {
    background-color: #4e4949;
    padding: 20px 0;
    padding-top: 30px;
    text-align: center;
}

.footer .social a {
    text-decoration: none;
    color: #eeebeb;
    margin: 0 10px;
}

.footer .feedback a {
    text-decoration: none;
    color: #eeebeb;
    margin-top: 10px;
    display: block;
}

.footer .social a:hover,
.footer .feedback a:hover {
    color: #007bff;
}

