@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.row{
    display:flex;
}

.Container{
    max-width: 90%;
    margin: 0 auto;
}

h1{
    font-family: 'Protest Riot', sans-serif;
    font-size: clamp( 80px, 10vw, 96px);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.cards{
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em, 0;
}

.card{
    align-items: flex-end;
    justify-content: center;
    position: relative;
    max-width: 150px;
    min-height: 500px; 
    text-align: center;
    overflow: hidden;
    cursor: pointer;background-image: url(right-to-education-of-childrens.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    transition: max-width 0.5s ease-in-out;
}

 .card:hover{
    max-width: 500px;
}
.card-body{
    padding: 4em;
    background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d);
}
.title{
    background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d);
    position: absolute;
    inset: 0;
}
.card:hover .title{
    all:unset;
}

h2{
    font-size: clamp(38px, 5vw, 48px);
    color: #fffbfb;
    text-shadow: 2px 2px #191c27;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    transform: rotate(-90deg) translate(-350px);
}

.card:hover h2{
    padding-bottom: 0.5em;
    transform: unset;
}

 p{
    position: relative; 
    top: 150px;
    font-size: 18px;
    text-shadow: 2px 2px #191c27; 
    color: #fff;
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out; 
} 
.card:hover p{
    position: relative;
    opacity: 1;
    max-height: 100%;
    transition-delay: 0.3s;
}